@import '../resources';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/contact/DSC_0002.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    nav {
        width: 100%;
        z-index: 3;
        @include flex($d:flex, $i:center, $fd:column-reverse);
        background-color: #0a0a0ad4;
        
        .mobile__nav{
            width: 100%;
            @include flex($d:flex, $c:space-around, $i:center);
            a {
                img {
                    width: 4em;
                }
            }
    
            .btn__menu{
                width: 2em;
                height: 2em;
                font-size: 2.5em;
                color: $--general-font;
                border: none;
                background: none;
            }
        
            .btn__menu--open::before{
                content: '\2630';
            }
        
            .btn__menu--close::before{
                content: '\2715';
            }
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 50vh;
            position: absolute;
            top: -500px;
            padding: 0;
            margin: 0;
            z-index: 99;
            background-color: #0a0a0ad4;
            transition: all 1s ease;
            li {
                height: calc(100%/4);
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    text-decoration: none;
                    font-family: 'Lato', sans-serif;
                    font-size: 2em;
                    background-image: linear-gradient(to right, #e56b6b, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: all .3s ease;
                    color: $--general-font;
    
                    &:hover,
                    &:focus {
                        color: $--general-font;
                        background-size: 100% 2px;
                    }
                }
                .active__page{
                    color: #dd6767;
                    &:hover{
                        color: #dd6767;
                    }
                }
            }
        }
    
        .active{
            top: 5em;
            border-top: 1px solid #054818;
        }
    }
}

main {
    text-align: center;
    h1 {
        color: $--general-font;
        font-family: $--title-font;
        font-size: 2rem;
    }

    section {
        @include flex($d:flex, $c:center, $i:center);
        .mail__container {
            width: 100%;
            padding-top: 2em;
            margin-bottom: 2em;
            background-color: #26212149;
            color: $--general-font;
            @include flex($d:flex, $c:center, $i:center, $fd:column);
            h2 {
                color: rgb(196, 66, 30);
                text-decoration: double;
                font-family: 'Lato', sans-serif;
            }

            .footer__form {
                @include flex($d:flex, $c:space-around, $fd:column);
                margin-top: 1em;
                width: 95%;
                label {
                    @include flex($d:flex, $fd:column);
                    position: relative;
                    border-bottom: 1px solid #fff;
                    transition: all .3s ease;
                    margin-bottom: 1em;
                    font-family: 'Lato', sans-serif;
                    span {
                        color: #fff;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        transition: all .3s ease;
                        cursor: text;
                    }

                    input {
                        color: #fff;
                        font-size: 1em;
                        height: 2.5em;
                        padding: 15px 15px 10px 15px;
                        background: transparent;
                        outline: none;
                        border: none;
                        transition: all .3s ease;

                        &:valid+span {
                            color: #fff;
                            top: -10px;
                            font-size: 10px;
                            left: 5px;
                            padding: 0 .3em 0 .3em;
                        }
            
                        &:focus+span {
                            color: #588B8B;
                        }

                    }
                    
                    textarea {
                        color: #fff;
                        font-size: 1.2em;
                        font-family: 'Lato', sans-serif;
                        resize: none;
                        padding: 15px 15px 0 15px;
                        background: transparent;
                        outline: none;
                        border: none;
                        transition: all .3s ease;
                        height: 10em;

                        &:valid+span {
                            color: #fff;
                            top: 0;
                            left: 5px;
                            font-size: 10px;
                            padding: 0 .3em 0 .3em;
                        }
                        &:focus+span {
                            color: #588B8B;
                        }
                    }

                    button {
                        height: 2.5em;
                        border: none;
                        border-radius: 15px;
                        background-color: rgb(196, 66, 30);
                        cursor: pointer;
                        &:hover {
                            background-color: rgb(177, 52, 17);
                        }
                    }
                }
                .btn__label{
                    border: none;
                }  
                .focus {
                    border-bottom: 1px solid #588B8B;
                }
                          
            }

        }
    }
}
@media  screen and (min-width: 768px) {
    body{
        height: 100vh;
        header{
            nav {
                z-index: 99;
                justify-content: space-between;
                flex-direction: row;
                background: none;
                .mobile__nav{
                    width: auto;
                    a {
                        margin-left: 3em;
                
                        img {
                            width: 5em;
                        }
                    }
            
                    .btn__menu,
                    .mobile__logo{
                        display: none;
                    }
                }
            
                ul {
                    width: auto;
                    height: auto;
                    position: static!important;
                    margin: 0 2em 0 0;
                    flex-direction: row;
                    background: none;
                    li {
                        display: inline-block;
                        margin: 0 .5em 0 .5em;
                        a {
                            font-size: 1em;   
                            &:hover,
                            &:focus {
                                font-size: 1.1em;
                            }
                        }
                    }
                }
            }
        }
        main{
            section{
                .mail__container{
                    .footer__form{
                        .NER-cont{
                            display: flex;
                            justify-content: space-between;
                            label{
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}